docs/XML/Order/XML_ORDER_MASCOT_V1-2.XSD

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <s:element name="ORDER" minOccurs="0" maxOccurs="1">
    <s:complexType>
      <s:sequence>
        <s:element name="Header" minOccurs="1" maxOccurs="1">
          <s:complexType>
            <s:sequence>
              <s:element name="Ordertype">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="2"/>
                    <s:enumeration value="ZI"/>
                    <s:enumeration value="ZE"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="BuyerID">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="13"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="PreferredDeliveryDate" type="s:date" minOccurs="0" maxOccurs="1"/>
              <s:element name="OrderReference">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="16"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="IssueEmail" type="s:string"/>
              <s:element name="NonStandardDelivery" minOccurs="0" maxOccurs="1">
                <s:complexType>
                  <s:sequence>
                    <s:element name="DeliveryByNumber" minOccurs="0" maxOccurs="1">
                      <s:simpleType>
                        <s:restriction base="s:string">
                          <s:maxLength value="13"/>
                        </s:restriction>
                      </s:simpleType>
                    </s:element>
                    <s:element name="DeliveryByAddress" minOccurs="0" maxOccurs="1">
                      <s:complexType>
                        <s:sequence>
                          <s:element name="Name">
                            <s:simpleType>
                              <s:restriction base="s:string">
                                <s:maxLength value="70"/>
                              </s:restriction>
                            </s:simpleType>
                          </s:element>
                          <s:element name="Address">
                            <s:simpleType>
                              <s:restriction base="s:string">
                                <s:maxLength value="35"/>
                              </s:restriction>
                            </s:simpleType>
                          </s:element>
                          <s:element name="CountryCode">
                            <s:simpleType>
                              <s:restriction base="s:string">
                                <s:maxLength value="2"/>
                              </s:restriction>
                            </s:simpleType>
                          </s:element>
                          <s:element name="PostCode">
                            <s:simpleType>
                              <s:restriction base="s:string">
                                <s:maxLength value="10"/>
                              </s:restriction>
                            </s:simpleType>
                          </s:element>
                          <s:element name="City">
                            <s:simpleType>
                              <s:restriction base="s:string">
                                <s:maxLength value="35"/>
                              </s:restriction>
                            </s:simpleType>
                          </s:element>
                        </s:sequence>
                      </s:complexType>
                    </s:element>
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:complexType>
        </s:element>
        <s:element name="OrderLine" minOccurs="1" maxOccurs="2000">
          <s:complexType>
            <s:sequence>
              <s:element name="BuyersLineReference">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="35"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="SuppliersEANCode">
                <s:simpleType>
                  <s:restriction base="s:decimal">
                    <s:maxLength value="13"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="SuppliersMaterialNumber">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="35"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="ProductDescription">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="70"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="Quantity">
                <s:simpleType>
                  <s:restriction base="s:decimal">
                    <s:maxLength value="3"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
            </s:sequence>
          </s:complexType>
        </s:element>
        <s:element name="Dropshipment" minOccurs="0" maxOccurs="1">
          <s:complexType>
            <s:sequence>
              <s:element name="DeliveryType">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="3"/>
                    <s:enumeration value="Z00"/>
                    <s:enumeration value="Z01"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="DepositLocation">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="30"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="Name">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="60"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="Street">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="30"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="PostCode">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="10"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="City">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="30"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
              <s:element name="CountryCode">
                <s:simpleType>
                  <s:restriction base="s:string">
                    <s:maxLength value="2"/>
                  </s:restriction>
                </s:simpleType>
              </s:element>
             <s:element name="ShippingNotification" minOccurs="0" maxOccurs="1">
                <s:complexType>
                  <s:sequence>
                    <s:element name="EmailAddress">
                      <s:simpleType>
                        <s:restriction base="s:string">
                          <s:maxLength value="30"/>
                        </s:restriction>
                      </s:simpleType>
                    </s:element>
                    <s:element name="PhonePrefix">
                      <s:simpleType>
                        <s:restriction base="s:string">
                          <s:maxLength value="3"/>
                        </s:restriction>
                      </s:simpleType>
                    </s:element>
                    <s:element name="PhoneNumber">
                      <s:simpleType>
                        <s:restriction base="s:string">
                          <s:maxLength value="11"/>
                        </s:restriction>
                      </s:simpleType>
                    </s:element>
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:complexType>
        </s:element>
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>
